.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.item{
  width: 350px;
  /*border: solid 2px #999999;*/
  padding: 50px;
  background-color: #61dafb;
}

.item2{
  width: 350px;
  /*border: solid 2px #999999;*/
  padding: 50px;
  background-color: chocolate;
}

.item-title {
  text-align: center;
}

.item-img {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
